<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="quotes, inspired, studying">
    <meta name="description" content="Inspiring quotes to help you study">

    <link rel="stylesheet" href="https://use.typekit.net/unv1rqq.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="manifest" href="/manifest.json">
    <script type="module" src="/script.js"> </script>

    <title><%- pageTitle %></title>
</head>
<body>