*{
    box-sizing: border-box;
    margin: 0; padding: 0;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6{
    font-family: lust, serif;
    font-weight: 700;
    font-style: normal;
}

p, a, label, button{
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    height: calc(100vh + 2em);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header::before{
    content:'';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #D6D6EB;
    z-index: -1;
}

header h1{
    font-size: 60px; 
    text-align: left;
    margin-left: 2.5vw;
}

@media (min-width: 450px){
    header h1{
        font-size: 5em; 
    } 
}

header p{
    width: 95vw;
    max-width: 427.5px;
}

header a{
    color: black;
    text-decoration: none;
    font-size: 32px;
    height: 5vh;
    width: 100%;
    text-align: center;

    position: absolute;
    bottom: 7vh;

    transition: 0.5s;
}

header a.draai{
    transform: rotate(180deg);
}

/* ---------------------------------------------- main ---------------------------------------------------*/
main{
    margin-top: -2em;
    padding: 1em;
    position: relative;
    box-shadow: 0px -2px 10px #a9a9c2;
    border-radius: 15px;
    background-color: white;
    height: 94vh;
    overflow: hidden;
}

main > h2{
    font-size: 32px;
    margin-top: 0.5em;
}

main > p{
    margin-bottom: 3em;
}

main > button{
    display: block;
    position: absolute;
    right: 1.5em;
    top: 6.5em;
    text-decoration: none;

    padding: 0.5em 1em;
    border: none;
    color: white;
    background-color: #3D5CA6;
    border-radius: 20px;
}

main > button:hover{
    background-color: #2b4175;
}

main > button:active{
    background-color: #23355e;
}

main > button:focus{
    border: 2px solid #1c9a8d;
}

/* ------------------------- quotes list -------------------------*/
main > ul{
    width: 100%;
    height: 70vh;
    overflow: scroll;
    overscroll-behavior: contain;
}

main > ul li{
    list-style-type: none;
    width: 100%;
    padding: 1.5em;
    
    border-radius: 5px;
    border-left: 3px solid #b4dcce;
    background-color: #effaf6;
    margin-bottom: 1em;
}

main > ul li:nth-of-type(4n+1){
    border-left: 3px solid #E7615A;
    background-color: #ffddd9;
}

main > ul li:nth-of-type(4n+2){
    border-left: 3px solid #26344B;
    background-color: #D6D6EB;
}

main > ul li:nth-of-type(4n+3){
    border-left: 3px solid #E78731;
    background-color: #ffe9d5;
}

main > ul li div{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* The name */
main > ul li div h3{
    margin-left: 0.5em;
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* The quote */
main > ul li > p{
    font-size: 32px;
    line-height: 32px;
    font-family: lust, serif;
    font-weight: 700;
    font-style: normal;
}

main > ul li div img{
    width: 10vw;
    max-width: 70px;
    height: 10vw;
    max-height: 70px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 10% 50%;
}

main > ul > p{
    margin-top: 2em;
    font-family: lust, serif;
    font-size: 2em;
    padding: 0 1em;
}

/* ------------------------- section -------------------------*/
main > section{
    background-color: white;
    position: absolute;
    bottom: -100%; left: calc(50% - 47.5vw);
    height: 90vh; width: 95vw;
    border-radius: 15px;

    box-shadow: 0px 0px 10px #a9a9c2;
    padding: 1em;

    transition: 0.5s;
}

main > section.active{
    bottom: 1em; left: calc(50% - 47.5vw);
}

main > section > div button.selected{
    border-bottom: 2px solid #3D5CA6;
}

main > section > button:first-of-type{
    font-size: 1.5em;
    font-weight: 800;
    position: absolute;
    top: 0.5em; right: 0.5em; 
    border: none;
    background-color: transparent;
}

main section > div{
    display: flex;
    flex-direction: row;
}

main > section > div button{
    width: 50%;
    background-color: transparent;
    border: none;
    padding: 0.5em 0;
}


/* ------------------------- form -------------------------*/
main > section > form{
    width: 100%;
    height: 90%;
    display: none;
    padding-top: 1em;
}

main > section > form.show{
    display: block;
}

main > section > form button{
    text-decoration: none;

    padding: 0.5em 1em;
    border: none;
    color: white;
    background-color: #3D5CA6;
    border-radius: 20px;
    margin-top: 1em;
}

main > section > form button:hover{
    background-color: #2b4175;
}

main > section > form button:active{
    background-color: #23355e;
}

main > section > form button:focus{
    border: 2px solid #1c9a8d;
}

main > section > form section div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

main > section > form section div input[type="checkbox"]{
    margin-right: 0.5em;
}

main > section > form section div input[type="submit"]{
    padding: 0.5em 1em;
    border: none;
    background-color: #3D5CA6;
    color: white;
    border-radius: 20px;

    margin-top: 1em;
}

main > section > form section div nput[type="submit"]:disabled{
    background-color: lightgray;
}

/* error state */

h1+h1{
    font-size: 2em;
}